<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head') %>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>blog</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
    </svg>

    <div class="container py-3">
      <%- include ('partials/header') %>

      <main class="post">
        <div class="container text-center">
          <h1>view one content</h1>
          <h1><%= post.title %> </h1>
          <p><%= post.content %></p>

          <a class="btn btn-primary btn-lg" href="/update_id/<%= post._id %>" type="button">update</a>
          <a class="btn btn-danger btn-lg" id="delete" type="button" data-postid= "<%= post._id %>" >delete</a>
        </div>
      </main>
      <%- include ('partials/footer') %>
    </div>
    <script>
      const deletePost = document.querySelector('#delete')
      const postId = deletePost.dataset.postid
      console.log(postId)
      deletePost.onclick = async function (){
        // return console.log(this.dataset.id)
        const request = await fetch(`/delete_post/${postId}`, {method:'DELETE'})
      }
        const response =await request.json()
        if (request.status===true){
          window.location.href = response.redirect
        }else if(response.status===false){
          alert('could not delete the post')
        }

    </script>
  </body>
</html>
s